@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Sora:wght@200&family=Syne:wght@500;600;800&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p, li {
  font-family: 'Rubik', sans-serif;
font-style: bold;
}

h1, h2, h3 {
  font-family: 'Sora', sans-serif;
}

.button {
  background-color: hsla(292, 34%, 26%, 1);
}

p {
  color: hsla(292, 34%, 26%, 1);
  ;
}

